:root{
        /*--fuenteHeading: 'Jacquard 12', sans-serif;*/
        /*--fuenteParrafo: 'Pixelify Sans', sans-serif;*/

        --fuenteHeading: 'Emblema One', cursive !important;
        --fuenteParrafo: 'Emblema One', cursive !important;

        --night-blue: #0D1B2A;
        --dark-navy: #1B263B;
        --dark-gray: #415A77;
        --light-gray: #778DA9;
        --off-white: #E0E1DD;
        --bright-turquoise: #4ECDC4;
        --moon-yellow: #FFE66D;
        --neon-pink: #FF6B6B;
        --deep-purple: #6A0572;
        --blue-ligth: #2672e4;
}


html{
        box-sizing: border-box;
        font-size: 62.5%;
}
*,*:before, *:after{
        box-sizing: inherit;
}

body{
        font-family: var(--fuenteParrafo);
        font-size: 1.6rem;
        line-height: 2;
}

/*globales*/
.contenedor{
        max-width: 120rem;
        width: 90%;
        margin: 0 auto;
}

a{
        text-decoration: none;
}

h1,h2,h3,h4{
        font-family: var(--fuenteHeading);
        line-height: 50px;
}
h1{
        font-size: 8.8rem;
}
h2{
        font-size: 6rem;
}
h3{
        font-size: 4.2rem;

}
h4{
        font-size: 4.8rem;
}
img{
        max-width: 100%;
}
/*utilidades*/

.no-margin{
        margin: 0;
}
.no-padding{
        padding: 0;
}
.centrar-texto{
        text-align: center;
}
.header{
        background-image: url(../blogdecafe_inicio/img/pixelcut-export.jpeg);
        height: 55rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center ;
       
        

}


.header__texto{
        position: relative;
        text-align: center;
        color: var(--moon-yellow);
        margin-top: 5rem;
}
@media(min-width: 768px){
        .header__texto{
                margin-top: 1rem;
                
        }

}

.barra{
        padding-top:4rem ;
}
@media(min-width: 768px){
        .barra{
                display: flex;
                justify-content: space-between;
                align-items: center;
        }

}

.logo__nombre{
        
        color: var(--moon-yellow);
        font-weight: 400;
        margin: none !important;
        

}

.logo__bold{
        
        color: var(--blue-ligth);
        font-weight: 1000px;
        
}
.logo{
       
        height: 200px;
}



@media(min-width:768px){
        .navegacion{
                display: flex;
                gap: 2rem;
        }
}
.navegacion__enlace{
        
        display: block;
        color: var(--moon-yellow);
        text-align: center;
        font-size: 1.8rem;
}

@media(min-width: 768px){
        .contenido_principal{
                display: grid;
                grid-template-columns: 2fr 1fr;
                column-gap: 4rem;
        }
}

.entrada{
        border-bottom: 1px solid var(--off-white);
        margin-bottom: 2rem;

}

.entrada:last-of-type{
        border: none;
        margin-bottom: 0;
}

.boton{
        display: block;
        color: var(--blue-ligth);
        text-align: center;
        padding: 1rem 3rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
}

@media(min-width: 768px){
        .boton{
                display: inline-block;
                
        }
}

.boton--primario{
 background-color: var(--moon-yellow);
}

.boton--secundario{
        background-color: var(--moon-yellow);
        width: 200px;
        height: 50px;
        font-size: 1.3rem;
}




.cursos{
        list-style: none;
}

.widget-curso{
        border-bottom: 2px solid var(--off-white);
        margin-bottom: 2rem;

}
.widget-curso:last-of-type{
        border-bottom: none;
        margin-bottom: none;
}

.widget-curso__label{
        font-family: var(--fuenteHeading);
        font-weight: bold;
        font-size: 2.5rem;
}

.widget-curso__info{
        font-family: var(--fuenteParrafo);
        font-weight: 400;
}

.footer{
        
        margin-top: 4rem;
        background-color: var(--night-blue);

}




/**sobre mi**/


@media(min-width: 768px){
        .sobre_mi{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 2rem;
        }
}